:root {
  --darkestBlue: #1d4071;
  --darkBlue: #2370a6;
  --blue: #2ba4d0;
  --lightBlue: #34fffc;
  --lightestBlue: #30fdfa;
  --nextui--navbarShadow: none;
}

/* --------------------Overriding the NEXT UI LIBRARY STYLES----------------- */
.nextui-c-egxOLa {
  padding-left: 0;
}
.nextui-c-hhqfap-kNpEwX-variant-floating .nextui-c-egxOLa {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}
.nextui-c-kOXsPe {
  margin-bottom: 2rem;
  display: flex;
  list-style-type: none;
  justify-content: center;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
/* ----------------------TEXT----------------------------- */
h1 {
  text-shadow: 0.5px 0.5px 0 #bcbcbc;
  font-size: 2rem;
  margin: 0;
}

h2 {
  text-shadow: 0.5px 0.5px 0 #bcbcbc;
  font-size: 1.8rem;
  margin: 0;
}

h3 {
  text-shadow: 0.5px 0.5px 0 #bcbcbc;
  font-size: 1.6rem;
  margin: 0;
}

h4 {
  text-shadow: 0.5px 0.5px 0 #bcbcbc;
  font-size: 1.4rem;
  margin: 0;
}

h5 {
  text-shadow: 0.5px 0.5px 0 #bcbcbc;
  font-size: 1.2rem;
  margin: 0;
}

.largeTextHeading {
  text-shadow: 0.5px 0.5px 0 #bcbcbc;
  font-weight: 700;
  font-size: 1.4rem;
  margin: 0;
}

.largeText {
  font-size: 1.8rem;
}
.blueText {
  color: var(--blue);
}

.blackText {
  color: black;
}

.greyText {
  color: rgba(55, 55, 55, 0.908);
}

.ltGreyText {
  color: #a4a3a3;
}

.whiteText {
  color: #f5f5f5;
}

.reactColor {
  color: #149eca;
}

.jsColor {
  color: #f0dc4e;
}

.cssColor {
  color: #214ce5;
}

.htmlColor {
  color: #e44d27;
}

.mongoColor {
  color: #42a03a;
}

.nodeColor {
  color: #84ce24;
}

.reduxColor {
  color: #7649bd;
}

.typeScriptColor {
  color: #2e79c7;
}

.blueBg {
  background-color: #214be541;
}

.smallText {
  font-size: 0.9rem;
}

.fontW500 {
  font-weight: 500;
}

.fontPlus {
  font-size: 1.2rem;
}

.borderRad {
  border-radius: 15px;
}

.projectImage {
  -webkit-box-shadow: 6px 6px 19px 4px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 6px 6px 19px 4px rgba(0, 0, 0, 0.26);
  box-shadow: 6px 6px 19px 4px rgba(0, 0, 0, 0.26);
}

.borderBlue {
  border: var(--blue) 0.75px solid;
}

.hoverBlueText:hover {
  color: var(--blue);
}

/* ----------------------Alignment----------------------------- */
.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flexEnd {
  justify-content: flex-end;
}

.flexStart {
  align-items: flex-start;
}

.row {
  display: flex;
  flex-direction: row;
}

.spaceBetween {
  justify-content: space-between;
}

.spaceAround {
  justify-content: space-around;
}

.justifyCenter {
  justify-content: center;
}

.alignCenter {
  align-items: center;
}

.flexWrap {
  flex-wrap: wrap;
}

.textCenter {
  text-align: center;
}

.noMargin {
  margin: 0;
}

.removePadding {
  padding: 0;
}

.padding {
  padding: 2em;
}

.paddingXs {
  padding: 0.25rem;
  padding-top: 0.1rem;
  padding-bottom: 0rem;
}

.paddingYSm {
  padding-top: 1em;
  padding-bottom: 1em;
}

.paddingY2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.paddingTopSm {
  padding-top: 1em;
}

.paddingTopLg {
  padding-top: 4em;
}

.paddingBottomSm {
  padding-bottom: 1em;
}

.paddingBottom {
  padding-bottom: 2em;
}

.paddingBottom3 {
  padding-bottom: 3rem;
}

.paddingY {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.paddingRight {
  padding-right: 1em;
}

.paddingNoTop {
  padding: 1rem;
  padding-top: 0;
  padding-bottom: 2rem;
}

.paddingx {
  padding-left: 1rem;
  padding-right: 1rem;
}

.paddingxMd {
  padding-left: 2rem;
  padding-right: 2rem;
}

.paddingLeft {
  padding-left: 1rem;
}

.paddingLeftMd {
  padding-left: 1.5em;
}

.paddingLeftXXL {
  padding-left: 5em;
}

.paddingTopSm {
  padding-top: 1em;
}

.paddingTopMd {
  padding-top: 2em;
}

.margin {
  margin: 1rem;
}

.marginY {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.marginYMd {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.marginTop {
  margin-top: 1em;
}

.marginTopSm {
  margin-top: 2em;
}

.marginTopMd {
  margin-top: 3em;
}

.marginLeft {
  margin-left: 2.5em;
}

.marginBottom {
  margin-bottom: 3em;
}

.marginBottomSm {
  margin-bottom: 1em;
}

.fullWidth {
  width: 100%;
}

.fullScreen {
  width: 100vw;
  height: 100vh;
}

.halfWidth {
  width: 50%;
}

.width75 {
  width: 75%;
}
.width30 {
  width: 30%;
}
.width70 {
  width: 70%;
}

.maxWidth300 {
  max-width: 300px;
}

.maxWidth3 {
  max-width: 343px;
}

.maxWidth600 {
  max-width: 600px;
}

.maxWidth900 {
  max-width: 900px;
}

.maxWidth1200 {
  max-width: 1200px;
}

.maxWidth1300 {
  max-width: 1300px;
}

/* -----------COMPONENT STYLES-------- */

.blueOnHover:hover {
  color: var(--blue);
}
.opacityChangeOnHover:hover {
  opacity: 60%;
}
.btn2nd {
  color: whitesmoke;
  border: solid 1px white;
  margin-top: 2rem;
  transition: all 200ms ease-in-out;
}

.btn2nd:hover {
  color: var(--blue);
  background: white;
  border: 0.5px solid var(--blue);
  box-shadow: 0 0 10px 0;
}

.btn2nd:active {
  color: var(--blue);
  background: white;
  border: 0px solid var(--blue);
  box-shadow: 0 0 10px 0;
}

.btn {
  border: white;
  transition: all 200ms ease-in-out;
  max-width: 250px;
}

.btn:hover {
  color: var(--blue);
  background: white;
  box-shadow: 0 0 10px 0;
}

.btn:active {
  color: var(--blue);
  background: white;
  box-shadow: 0 0 10px 0;
}

.imageWrapper {
  border-radius: 20%;
  max-width: 400px;
  border-bottom: 2px solid var(--darkestBlue);
  z-index: 1;
  position: relative;
}

.cardBtm {
  border: 2px solid var(--darkestBlue);
}

.line:after {
  background-color: #333;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.line:after {
  left: 0.5em;
}

.linesm:after {
  background-color: #333;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 35%;
}

.linesm:after {
  left: 0.5em;
}

.gradient {
  background: rgb(29, 64, 113);
  background: linear-gradient(
    124deg,
    rgba(29, 64, 113, 1) 10%,
    rgba(43, 164, 208, 1) 100%
  );
}

/*-----------------------ANIMATIONS----------------------- */

.one {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slideshow {
  width: 200%;
  height: 4rem;
  margin-top: 1em;
  margin-bottom: 1em;
  overflow: hidden;
  position: relative;
}

.images {
  width: 200%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  left: 0;
  animation: scroll 30s linear infinite;
  gap: 0.25rem;
}

.sliderImgWrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

@keyframes scroll {
  0% {
    left: -100%;
  }
  100% {
    left: 145%;
  }
}
/* Shine */
.imageWrapper:after {
  content: "";
  top: 0;
  transform: translateX(100%);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  animation: slide 4s infinite 3s;

  background: -moz-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.1) 50%,
    rgba(128, 186, 232, 0) 99%,
    rgba(125, 185, 232, 0) 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0%, rgba(255, 255, 255, 0)),
    color-stop(50%, rgba(255, 255, 255, 0.1)),
    color-stop(99%, rgba(128, 186, 232, 0)),
    color-stop(100%, rgba(125, 185, 232, 0))
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.1) 50%,
    rgba(128, 186, 232, 0) 99%,
    rgba(125, 185, 232, 0) 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.1) 50%,
    rgba(128, 186, 232, 0) 99%,
    rgba(125, 185, 232, 0) 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.1) 50%,
    rgba(128, 186, 232, 0) 99%,
    rgba(125, 185, 232, 0) 100%
  ); /* IE10+ */
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.1) 50%,
    rgba(128, 186, 232, 0) 99%,
    rgba(125, 185, 232, 0) 100%
  );
}

@keyframes slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

/* -------------BREAKPOINTS------------------ */

@media screen and (min-width: 450px) {
  .columnForASec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .centerOnLgScreen {
    text-align: center;
  }
  .paddingx {
    padding-left: 2em;
    padding-right: 2em;
  }

  @keyframes scroll {
    0% {
      left: -100%;
    }
    100% {
      left: 91%;
    }
  }
}
@media screen and (min-width: 500px) {
  .minHeight {
    min-height: 700px;
  }
  .paddingBottomOnLgScreen {
    padding-bottom: 1rem;
  }
}

@media screen and (min-width: 650px) {
  .rowOnLgScreen {
    display: flex;
    flex-direction: row;
  }
  .switchToRow {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .paddingRightOnLgScreen {
    padding-right: 1rem;
  }
  .width600 {
    width: 600px;
  }
  .columnOnLarge {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .imageWrapper {
    height: 360px;
    width: 300px;
    justify-content: flex-end;
  }
  @keyframes scroll {
    0% {
      left: -100%;
    }
    100% {
      left: 25%;
    }
  }

  .halfWidthOnLgScreen {
    width: 50%;
  }
  .paddingY {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@media screen and (min-width: 1000px) {
  .nextui-c-BDLTQ {
    border-radius: 0;
  }
  .addHeight {
    height: 600px;
  }
}

@media screen and (min-width: 1035px) {
  .nextui-c-BDLTQ {
    border-radius: var(--nextui-radii-lg);
  }
}

@media screen and (min-width: 1000px) {
  .imageWrapper {
    height: 380px;
    width: 400px;
    justify-content: flex-end;
  }
  .switchToRowOnLg {
    display: flex;
    flex-direction: row;
  }

  .flexEnd {
    align-items: flex-end;
  }
  .removePadding {
    padding-left: 0;
    padding-right: 0;
  }

  .removeBtmPaddingOnLgScreen {
    padding-bottom: 0;
  }
  h1 {
    text-shadow: 0.5px 0.5px 0 #bcbcbc;
    font-size: 2.2rem;
    margin: 0;
  }

  h2 {
    text-shadow: 0.5px 0.5px 0 #bcbcbc;
    font-size: 2rem;
    margin: 0;
  }

  h4 {
    text-shadow: 0.5px 0.5px 0 #bcbcbc;
    font-size: 1.6rem;
    margin: 0;
  }

  .largeTextHeading {
    text-shadow: 0.5px 0.5px 0 #bcbcbc;
    font-size: 1.6rem;
    margin: 0;
  }

  h5 {
    text-shadow: 0.5px 0.5px 0 #bcbcbc;
    font-size: 1.4rem;
    margin: 0;
  }
}

@media screen and (min-width: 1300px) {
  .imageWrapper {
    height: 400px;
  }
  h1 {
    text-shadow: 0.5px 0.5px 0 #bcbcbc;
    font-size: 2.4rem;
    margin: 0;
  }

  h2 {
    text-shadow: 0.5px 0.5px 0 #bcbcbc;
    font-size: 2.2rem;
    margin: 0;
  }

  h4 {
    text-shadow: 0.5px 0.5px 0 #bcbcbc;
    font-size: 1.8rem;
    margin: 0;
  }

  .largeTextHeading {
    text-shadow: 0.5px 0.5px 0 #bcbcbc;
    font-size: 1.8rem;
    margin: 0;
  }

  h5 {
    text-shadow: 0.5px 0.5px 0 #bcbcbc;
    font-size: 1.6rem;
    margin: 0;
  }
  .bulletSectionOnLgScreen {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .marginMiddleCard {
    margin-left: 4rem;
    margin-right: 4rem;
  }
}
